fastapi
uvicorn
sqlalchemy
python-multipart
python-dotenv
pydantic-settings
pymupdf
pytesseract
Pillow
opencv-python-headless
transformers
torch
sentence-transformers
huggingface_hub
spacy
dateparser
tqdm
loguru
aiofiles
jinja2
python-jose[cryptography]
passlib[bcrypt]
